$text-color: #333;
$text-color-white: #ffffff;
$secondary-color: #1aa2ce;
$secondary-color-darken: #068cb8;

$background-light-color: #ffffff;
$background-dark-color: #444b63;

$element-border-radius: 4px;

$layout-gutter: 1rem;

$hover-color-transition: color 0.2s linear;
$hover-border-transition: border-color 0.2s linear;
$hover-bg-transition: background-color 0.2s linear;
