@import "variables";
@import "bp";

@import "utils/loader";

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;//400, 700
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    font-weight: 700;
}

button {
    background: none;
    border: none;
    padding: none;
}

.container {
    padding: 0 $layout-gutter;
}

.page-title {
    font-size: 1.5em;
}