@import "../../styles/variables";
@import "../../styles/bp";

$sidebar-width: 240px;

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    @include respondTo(smallDesktop) {
        flex-direction: row;
    }
}

.sidebarWrapper {
    min-width: $sidebar-width;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    z-index: 99;
    transition: all 0.2s ease-out;
    transform: translateX(-$sidebar-width);
    @include respondTo(smallDesktop) {
        transform: none;
        position: static;
        flex: 0 0 $sidebar-width;
    }

}

.sidebarWrapperOpened {
    composes: sidebarWrapper;
    transform: none;
}

.routeWrapper {
    position: relative;
    padding: $layout-gutter 0 0 0;
    height: 100vh;
    flex: 1 1 auto;
    background-color: $background-light-color;
}

.menuToggle {
    appearance: none;
    width: 0;
    height: 0;
    position: absolute;
    display: none;
    &:checked {
        + .menuToggleButton::after {
            visibility: visible;
            background-color: rgba($color: #000000, $alpha: 0.4);
        }
    }
}

.menuToggleButton {
    position: fixed;
    z-index: 3;
    left: 1rem;
    bottom: 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-color;
    color: $text-color-white;
    min-width: 38px;
    min-height: 38px;
    padding: 0.375rem;
    font-size: 1.125em;

    @include respondTo(tablet) {
        min-width: 48px;
        min-height: 48px;
        padding: 0.25rem;
        font-size: 1.5em;
    }

    &::after {
        content: "";
        position: fixed;
        z-index: 0;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        transition: $hover-bg-transition;
        background-color: transparent;
        visibility: hidden;
    }
    @include respondTo(smallDesktop) {
        display: none;
    }
}