@import "../../styles/variables";
@import "../../styles/bp";

.main {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebarWrapper {
    flex: 0 0 220px;

}

.routeWrapper {
    padding: $layout-gutter 0;
    height: 100vh;
    flex: 1 1 auto;
    background-color: $background-light-color;
}